
.header {
  padding: 32px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;

  &__icon {
    width: 20px;
    height: 20px;
    background: #0e8784;
    border-radius: 50%;
  }
}

.nav {
  display: flex;
  gap: 32px;

  a {
    text-decoration: none;
    color: #83888f;
    font-size: 12px;
    letter-spacing: 1px;
  }
}