.summary {
  background: linear-gradient(180deg, #2c343e, #1f252d);
  padding: 48px 64px;
  border-radius: 10px;
  margin: 80px 0 48px;
  color: #fff;

  span {
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.5;
    display: block;
    margin-bottom: 16px;
  }

  p {
    font-size: 24px;
    line-height: 1.6;

    b {
      color: #0e8784;
    }
  }
}